name: Deploy HTML to IIS

on:
  push:
    branches: [ main ]
  workflow_dispatch: {}

jobs:
  deploy:
    runs-on: [self-hosted]

    env:
      SITE_PATH: "D:\\GitHub\\MyLocalhostWebsite"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Copy only html files
        shell: powershell
        run: |
          Copy-Item -Path "$pwd\*.html" -Destination $env:SITE_PATH -Force
